/**
 * Styling for the splash/login page.
 */

.login {
  margin-top: $navbar-height*2;

  .splash-logo {
    margin: 45px 40px;
    max-width: 72%;
  }

  .help_text {
    display: none;
  }

  .login-title {
    display: inline-block;
  }

  ul.errorlist {
    padding-left: 0;
  }

  .modal-content .panel {
    margin-bottom: 0;
  }

  .hz-icon-required {
    display: none;
  }
  body {
    background: linear-gradient(-45deg,#6CBAA1,#697EFF,#00B4DB,#0083B0,#3e5ade);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
}

